solution
test1.out 
hpc_gemm
test2.out 
hpc_gemm_v2
hpc_gemm_sol.c
hpc_gemm_sol
jacobi.c
*.out
.Xilinx/
*.back
.vscode/
*.json
*.DS_Store
*_stats/
*.bin
*.pyc
*.o
moesi_two_level.py
04-GEM5-RCC/utils/
*.sh
!apptainer_make.sh
workload/lu_decomp/
__pycache__/
backup/
horner_scheme/
!make_apptainer.sh
stencil/
solutions.txt

*.err
*.log
copilot-instructions.md
!run_slurm.sh

citations.bib
config.dot
config.dot.pdf
config.dot.svg
config.ini
config.system.*
**/results/cu_*/fs/*